<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archive/${shortdate}.{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14" />

    <target name="console" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="logfile,console" />
    <logger name="Microsoft.Hosting.Lifetime.*" minlevel="Info" writeTo="logfile,console" />
    <logger name="System.*" minlevel="Warn" writeTo="logfile,console" />
    <logger name="*" minlevel="Debug" writeTo="logfile,console" />
  </rules>
</nlog>